<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629337820350-7kqbb817upng1jm9ds0hoa8viov5navs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629337820350-7kqbb817upng1jm9ds0hoa8viov5navs</string>
	<key>API_KEY</key>
	<string>AIzaSyDwC_Zu749sZf-cdyDt_1VXNsHIhPb6Yc4</string>
	<key>GCM_SENDER_ID</key>
	<string>629337820350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simsec.wallet</string>
	<key>PROJECT_ID</key>
	<string>wallet-a65c9</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-a65c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629337820350:ios:edd48ca82a92726f</string>
	<key>DATABASE_URL</key>
	<string>https://wallet-a65c9.firebaseio.com</string>
</dict>
</plist>